<h1>Title <%= @post.title %></h1>
<h2>Comments</h2>
<ul>
  <% @comments.each do |comment| %>
  <li><%= comment.content %> (<%= comment.created_at %>)
    by <%= comment.user.email %></li>


  <%= link_to 'Edit', edit_post_comment_path(@post, comment) if comment.user == current_user %>
    <%= button_to 'Delete', post_comment_path(@post, comment), method:  :delete if comment.user == current_user%>
  <% end %>
</ul>

<%= link_to 'New Comment', new_post_comment_path %>
<br>
<%= link_to 'Post List', posts_path %>